<footer>
© {{_('Viktor Zharina')}} - <script type="text/javascript">var t = Date.now(); var a = new Date(t); document.write(a.getUTCFullYear());
</script>
<script src="/static/js/lightgallery.min.js"></script>
<script type="text/javascript">
        lightGallery(document.getElementById('lightgallery')); 
</script>
</footer>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-11854444-4', 'auto');
  ga('send', 'pageview');
</script>
