@font-face {
  font-family: 'FontAwesome';
  src: url('/static/fonts/typewritercyrnormal.woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'FontAwesome', tahoma, arial, sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.9rem;
  background: #e9eaed;
  margin: 0px;
  padding: 0px;
}

p {
  word-wrap:break-word;
}

ul {
  clear: both;
}

a {
  text-decoration: underline;
}

.lightgallery a {
  max-width: 29%;
  margin: 5px;
}

iframe {
  float:left;
  clear: both;
  margin: 10px;
}

main,
footer,
header {
  margin: 0 auto;
  max-width: 1200px;
}

header h1 {
  margin-top: 0;
  padding: 0;
}

header h1 i {
  margin: 0 5px 0 10px;
}

main {
  height: 95%;
  @media screen and (max-width: 700px) {
    display: block;
  }
}

nav,
section {
  flex: 1;
  -webkit-box-flex: 1;
}

section {
  background: #fff;
  padding: 1rem 2rem;
}

.text-centered {
  text-align: center;
}

.text-right {
  text-align: right;
}

h1,
h2,
h3 {
  text-transform: uppercase;
  text-align: center;
  clear: both;
  margin: 0px;
  padding: 0px;
  font-weight: 800;
}

h1 a,
h2 a
h3 a,
h4 a {
  clear: both;
  text-decoration: none;
  color: inherit;
}

h2 a:hover,
h3 a:hover,
h4 a:hover {
  text-decoration: underline;
}

h2,
h3,
h4 {
  text-transform: uppercase;
  text-align: center;
  clear: both;
  font-weight: 800;
}

nav {
  background: #fff;
  @media screen and (max-width: 700px) {
    max-width: 100%;
    margin: 0 0 20px 0;
  }
}

nav ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li.active {
  border-bottom: 1px solid rgba(1, 1, 1, 0.2);
}

nav ul li a {
  color: inherit;
  display: block;
  padding: 10px;
  text-decoration: none;
  -webkit-transition: all 300ms;
}

nav ul li a i {
  -webkit-transition: all 300ms;
  display: inline-block;
  float: left;
  font-size: 21px;
  height: 20px;
  margin: 1px 8px 0 0;
  opacity: .25;
  width: 20px;
}

nav ul li.active a i {
  color: #245dc1;
  opacity: 1;
}

footer {
  background-color: #fff;
  text-align: center;
}

footer i {
  font-size: 1rem;
  margin: 0 5px;
  vertical-align: middle;
  -webkit-transition: all 300ms;
}

.banner .tagline {
  background: rgba(0, 0, 0, .75);
  color: #fff;
  font-size: 1.5em;
  font-style: italic;
  font-weight: 300;
  padding: 10px 20px;
  position: absolute;
}

main img {
  max-width: 100%;
  margin: 0 0 20px 0;
}

section img {
  float: left;
  max-width: 100%;
  margin: 0 20px 20px 0;
}

.page-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  clear: both;
}

.page-nav__right {
  float: right;
  clear: both;
}

.page-nav__right {
  float: right;
  clear: both;
}

nav.arrows {
  margin: 0 auto;
  max-width: 1200px;
}

nav .arrow {
  position: fixed;
  top: 50vh;
}

.arrow__left {
  left: 0;
  font-size: 3rem;
}

.arrow__right {
  right: 0;
  font-size: 3rem;
}

.posts {
  display: flex;
  margin-bottom: 4rem;
  @media screen and (max-width: 700px) {
    display: block;
  }
}

.posts .post {
  width: 33%;
  padding-right: 2rem;
  box-sizing: border-box;
  height: 100px;
  flex: 1;
}

.posts .snippet {
  font-size: 12px;
  color: #666;
}

.posts .post h4 {
  font-weight: 300;
  margin: 0 0 15px 0;
  padding: 0;
}

.posts .post h4 a {
  text-decoration: underline;
}

.posts .post h4 a:hover {
  text-decoration: none;
}

.meta .attribution {
  color: #666;
  font-size: 0.75rem;
  text-transform: uppercase;
}

.attribution-container {
  width: 100%;
  height: 1.5rem;
}

.meta h1 {
  margin-bottom: 5px;
}

.meta {
  border-bottom: 1px solid #dedede;
  margin-bottom: 1rem;
}

.meta-alt {
  border-top: 1px solid #dedede;
}

.meta-alt span {
  font-size: 12px;
  color: #666;
  text-transform: uppercase;
  margin-right: 10px;
}

.meta-alt > div {
  margin-bottom: 7px;
}

.meta-alt a {
  color: inherit;
  text-decoration: underline;
}

.meta-alt a:hover {
  text-decoration: none;
}

.lang {
    background: #fff;
    font-size: 75%;
}

.post-picture {
  max-width: 20rem;
}


@media (max-width: 425px) {
   .about-photo {
       width: 400px;
   }

   .post-picture {
       max-width: 100%;
  }

}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.lightgallery {
  float: left;
  display: flex;
  flex-flow: row wrap;
}

.timeline {
    margin: 0 auto;
}

.row {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
}

.row__empty {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
}

.points {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.points__empty {
    width: 6rem;
}

.point {
    text-align: center;
    padding: 6px;
    border: 2px solid black;
    width: 5rem;
    height: 5rem;
}

.point__interval {
    text-align: center;
    border: 0px solid black;
}

.point:last-child {
    bottom: 100px;
}

.year, .month {
    font-size: 1.5rem;
}

.line__solid {
    border-left: 5px solid black;
    height: 10vh;
}

.line__grey {
    border-left: 5px dashed grey;
    height: 10vh;
}

.details {
    padding-left: 30px;
    font-size: 1.5rem;
    line-height: 1.33;
}

.details__title--main, .details__title--sub {
    font-weight: bold;
}


@media (max-width: 1024px) {
    .year, .month {
        font-size: 1.5rem;
    }
}

@media (max-width: 768px) {
    .details {
        font-size: 1.3rem;
    }

    .point {
        width: 3rem;
        height: 3rem;
    }

    .year, .month {
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    .details {
        padding: 0px 0 0 20px;
        font-size: 0.9rem;
    }

    .line__grey {
        height: 25vh;
    }

    .year, .month {
        font-size: 0.9rem;
    }
}

.left {
    float: left;
}